## Microsoft / Dynamics 365
AZURE_TENANT_ID=
DYNAMICS_BASE_URL=
DYNAMICS_APP_ID=

## AI Agent (OpenAI)
OPENAI_API_KEY=

## Login credentials

CHURCH_USERNAME=
CHURCH_PASSWORD=

## Test data
CONTACT_NAME=
CONTACT_ID=
CONTACT_VIEW_ID=
